@import 'tailwindcss/components';

@layer components {
  .content-section {
    @apply md:rounded-20;
    @apply bg-white dark:bg-charcoal;
    @apply shadow-content dark:shadow-none;
  }

  .content-separator {
    @apply border-t-2 border-silver dark:border-blue-1;
  }
}
