@import 'tailwindcss/utilities';

@layer utilities {
    .content-block {
        @apply bg-white rounded-10 dark:bg-charcoal;
    }

    .text-secondary {
        @apply text-charcoal text-opacity-50;
    }

    .bg-secondary {
        @apply bg-fog dark:bg-grey;
    }


    .loading-skeleton {
        @apply bg-silver bg-opacity-30 animate-pulse rounded-10;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .hide-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .legal ul {
        @apply list-disc list-outside ml-20;
    }

    .legal ul li {
        @apply py-10;
    }
}