.input-field {
  @apply bg-white text-20 py-14 px-20 rounded w-full;
  @apply dark:bg-charcoal;
  @apply focus:ring-2 focus:ring-primary;
}

.input-field-bg-grey {
  @apply bg-white;
  @apply dark:bg-black-low;
}

.input-field-border {
  @apply border-2 border-primary;
  @apply dark:border-black-low;
}
