.token-input-field {
  @apply text-20 pt-14 pb-28 px-20 rounded w-full text-right;
  @apply bg-white dark:bg-charcoal;
  @apply border-2 border-white dark:border-charcoal;
  @apply focus:border-primary;
}
